* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}
.theme {
  transition: 0.5s all ease;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* For webkit-based browsers (Chrome and Safari) */
/* You can adjust the color, width, and other properties as desired */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Border radius to create a smooth appearance */
}

/* Hover state for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
/* Set the width of the scrollbar, adjust as needed */
/* "thin" is a keyword that represents a thin scrollbar, and "auto" hides the scrollbar when not scrolling */
scrollbar-width: thin;
